development:
  adapter:  postgresql
  host:     localhost
  encoding: unicode
  database: rails_template_example_development
  pool:     5
  username: postgres
  password: postgres
  template: template0

test:
  adapter:  postgresql
  host:     localhost
  encoding: unicode
  database: rails_template_example_test
  pool:     5
  username: postgres
  password: postgres
  template: template0

production:
  adapter:  postgresql
  host:     localhost
  encoding: unicode
  database: rails_template_example_production
  pool:     16
  username: postgres
  password: postgres
  template: template0
